body {
  font-size: 16px;
  font-family: 'Quattrocento', serif;
  color: #555d6d;
}

.container {
  min-width: 320px;
}

a:not(:last-child):after,
span:not(:last-child):after {
  content: '/';
  margin: 0 1rem;
  color: #0076ff;
}

.project-links a:not(:last-child)::after {
  content: '/';
  margin: 0 0.5rem;
  color: #0076ff;
}

.project-links a,
.footer a {
  text-decoration: none;
}

.letter-space {
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: #555d6d;
}

a:hover {
  color: black;
}

.hide {
  display: none;
}

#name {
  margin-top: 15px;
}

#name a {
  text-decoration: none;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid #555d6d;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}

#name:hover {
  color: black;
  border-bottom-color: black;
}

.nav-option:hover {
  color: black;
  cursor: pointer;
}

.info {
  margin-top: 40px;
  font-family: 'Muli', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: black;
}

.more-about-me {
  margin: 15px auto;
  font-size: 15px;
  opacity: 0.8;
}

.project-section {
  margin-top: 2.5rem;
}

.project {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px 1px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 380px;
  margin: 12px auto;
  border-radius: 4px;
}

.project:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.06), 0 0 7px rgba(0, 0, 0, 0.03);
}

.project-image img {
  width: 100%;
}

#project-header {
  opacity: 0.7;
  margin-bottom: 10px;
}

.project-text {
  padding: 1.3rem 1.5rem;
}

.project-title {
  font-family: 'Muli', sans-serif;
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
}

.project-text p {
  margin-top: 1rem;
  color: black;
  opacity: 0.8;
  line-height: 1.5rem;
}

hr {
  margin-bottom: 10px;
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.footer {
  margin-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 25px;
}

#text-holder {
  width: 780px;
  margin: 35px auto;
}
